<%- include('partials/header') %>
<main>
  <section class="news-section">
    <h1>უახლესი ამბები და მომავალი გაყიდვები</h1>

    <div class="countdown-container">
      <h2>შემდეგი დიდი ფასდაკლება იწყება:</h2>
      <div id="countdown" class="countdown">Loading countdown...</div>
    </div>

    <article class="news-article">
      <h3>მოგესალმებათ StyleSync Georgia!</h3>
      <p>
        ვემზადებით ჩვენი პირველი დიდი გაყიდვისა და საინტერესო საჩუქრებისთვის.
        დარჩით ჩვენთან და გამოგვყევით ინსტაგრამზე სიახლეებისთვის!
      </p>
    </article>

    <article class="news-article">
      <h3>გათამაშება ახლოვდება!</h3>
      <p>
        გვსურს მადლობა გადავუხადოთ ჩვენს ადრეულ მხარდამჭერებს! თვალყური ადევნეთ
        ვებსაიტს მომავალი საჩუქრებისა და კონკურსების შესახებ დეტალებისთვის.
      </p>
    </article>
  </section>
</main>
<%- include('partials/footer') %>
